.item-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    font-size: 1.33em;
    color: #FFFFFF;
    font-weight: 600;
    background: #46a;
    cursor: pointer;
}